@media (orientation:portrait) {
    #content,
    html,
    body {
        height: 100%;
        color: green;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        margin-left: 25px;
        font-family: verdana;
    }
    .center {
        margin-top: 5%;
        margin-left: 25px;
        margin-right: auto;
    }
    * {
        box-sizing: border-box;
        margin: 0%;
    }
    #left {
        position: absolute;
        top: 0px;
        height: 38%;
        width: 100%;
        background: whitesmoke;
        /* height: 100%; */
        overflow: scroll;
    }
    #right {
        position: absolute;
        bottom: 0px;
        height: 61.5%;
        width: 100%;
        background: whitesmoke;
        /* height: 100%; */
        overflow: scroll;
    }
    a:link {
        color: green;
        position: absolute;
        padding: 10px;
        top: 0px;
        right: 0px;
    }
    .vl {
        position: absolute;
        top: 38%;
        height: 3px;
        width: 100%;
        background: green;
        /* height: 100%; */
        overflow: scroll;
    }
}

@media (orientation: landscape) {
    /* some CSS here */
    #content,
    html,
    body {
        height: 100%;
        color: green;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        margin-left: 25px;
        font-family: verdana;
    }
    .center {
        margin-top: 5%;
        margin-left: 25px;
        margin-right: 50%;
    }
    * {
        box-sizing: border-box;
        margin: 0%;
    }
    #left {
        float: left;
        width: 45%;
        background: whitesmoke;
        height: 100%;
        overflow: scroll;
    }
    #right {
        float: left;
        width: 55%;
        background: whitesmoke;
        height: 100%;
        overflow: scroll;
    }
    /* unvisited link */
    a:link {
        color: green;
        padding: 20px;
    }
    .vl {
        border-left: 3px solid green;
        height: 100%;
        position: absolute;
        left: 45%;
        top: 0;
    }
}