@media (orientation:portrait) {
    #content,
    html,
    body {
        height: 100%;
        color: green;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 15px;
        padding-right: 15px;
    }
    .center {
        margin-left: 5%;
        margin-right: auto;
    }
    * {
        box-sizing: border-box;
        margin: 0%;
    }
    #left {
        position: absolute;
        top: 0px;
        height: 45%;
        width: 100%;
        background: whitesmoke;
        /* height: 100%; */
        overflow: scroll;
    }
    #right {
        position: absolute;
        bottom: 0px;
        height: 54.5%;
        width: 100%;
        background: whitesmoke;
        /* height: 100%; */
        overflow: scroll;
    }
    /* unvisited link */
    a:link {
        color: green;
    }
    /* visited link */
    a:visited {
        color: gray;
    }
    /* mouse over link */
    a:hover {
        color: blue;
    }
    /* selected link */
    a:active {
        color: red;
    }
    .vl {
        position: absolute;
        top: 45%;
        height: 3px;
        width: 100%;
        background: green;
        /* height: 100%; */
        overflow: scroll;
    }
}

@media (orientation: landscape) {
    /* some CSS here */
    #content,
    html,
    body {
        height: 100%;
        color: green;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 15px;
        padding-right: 15px;
    }
    .center {
        margin-left: 5%;
        margin-right: auto;
    }
    * {
        box-sizing: border-box;
        margin: 0%;
    }
    #left {
        float: left;
        width: 45%;
        background: whitesmoke;
        height: 100%;
        overflow: scroll;
    }
    #right {
        float: left;
        width: 55%;
        background: whitesmoke;
        height: 100%;
        overflow: scroll;
    }
    /* unvisited link */
    a:link {
        color: green;
    }
    /* visited link */
    a:visited {
        color: gray;
    }
    /* mouse over link */
    a:hover {
        color: blue;
    }
    /* selected link */
    a:active {
        color: red;
    }
    .vl {
        border-left: 3px solid green;
        height: 100%;
        position: absolute;
        left: 45%;
        top: 0;
    }
}