* {
    box-sizing: border-box;
    margin: 0%;
}

#content,
html,
body {
    height: 100%;
    color: green;
}

.code-wrapper {
    position: relative;
}

@media (orientation:portrait) {
    #x {
        position: absolute;
        top: 0px;
        height: 38%;
        width: 100%;
        background: whitesmoke;
        /* height: 100%; */
        overflow: scroll;
    }
    #y {
        position: absolute;
        bottom: 0px;
        height: 61.5%;
        width: 100%;
        background: whitesmoke;
        /* height: 100%; */
        overflow: scroll;
    }
    h1 {
        margin-left: 25px;
        font-family: verdana;
        font-size: 24px;
    }
    a:link {
        color: green;
        position: absolute;
        padding: 10px;
        top: 0px;
        right: 0px;
        font-family: verdana;
    }
    .vl {
        position: absolute;
        top: 38%;
        height: 3px;
        width: 100%;
        background: green;
        /* height: 100%; */
        overflow: scroll;
    }
}

@media (orientation: landscape) {
    #content,
    html,
    body {
        height: 100%;
        color: green;
    }
    #x {
        position: relative;
        float: left;
        width: 45%;
        background: whitesmoke;
        height: 100%;
        overflow: scroll;
    }
    #y {
        position: relative;
        float: right;
        width: 54.8%;
        background: whitesmoke;
        height: 100%;
        overflow: scroll;
    }
    .vl {
        border-left: 3px solid green;
        height: 100%;
        position: absolute;
        left: 45%;
        top: 0;
    }
    h1 {
        margin-left: 25px;
        font-family: verdana;
    }
    a:link {
        color: green;
        padding: 20px;
        font-family: verdana;
    }
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    font-family: verdana;
}

.center {
    margin-top: 5%;
    margin-left: 25px;
    margin-right: auto;
}

.copy-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 7px;
    background-color: whitesmoke;
    color: brown;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0;
    outline: none;
}

.copy-button:hover {
    background-color: green;
    color: white;
}

.code-wrapper:hover .copy-button {
    opacity: 1;
}

#copy-success {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    display: none;
}

#copy-success.show-message {
    display: inline-block;
}


/* https: //htmldom.dev/create-resizable-split-views/ */